html {
  min-height: 100%;
}
body {
  background: -webkit-gradient(linear, 0 top, 0 bottom,
                       from(#ccc),
                       to(#fff),
                       color-stop(.5, #fff)
                       );
  min-height: 100%;
  margin: 0;
  padding: 20px;
  font: 12px Arial,sans-serif;
}
a {
  color: #000;
}
.clear {
  clear: both;
}
.error {
  color: #f00;
}


section {
  background-color: burlyWood;
  border: 1px solid #9d9d9d;
  margin-bottom: 10px;
}
section h1 {
  margin: 0;
}
.header {
  height: 68px;;
}
.header h1 {
  float: left;
}

nav {
  border-bottom: 1px solid #999;
  height: 39px;
}
.menu {
  margin: 12px -10px 8px;
  width: 600px;
  float: right;
  font-weight: bold;
  display: table;
}
.bottom-header-menu {
  font-size: 90%;
}
.menu-item {
  display: table-cell;
  text-decoration: none;
}
.menu-item:hover {
  color: #555;
  text-decoration: underline;
}
#about-rats h1 {
  border-bottom: 1px solid #000;
}
section table {
  border-collapse: collapse;
  width: 100%;
}
section table tr {
  /* min-height: 40px; */
  height: 60px;
}
section table td, section table th {
  border: 1px solid #9d9d9d;
}
section table th {
  /* padding: 15px 0 15px 60px; */
  padding-left: 60px;
  background: url('http://i270.photobucket.com/albums/jj86/Cerbst/FF/new.png') 8px 8px no-repeat;
  width: 55%;
  text-align: left;
  font-weight: normal;
}
section table th a {
  color: #000;
  font-weight: bold;
}
section table td {
  text-align: center;
}
h1 {
  /* float: left; */
}

.welcome, .manageforums-link, .logout-btn {
  display: none;
}
.user-menu .welcome, .user-menu .logout-btn {
  display: inline;
}
.admin-menu .manageforums-link {
  display: inline;
}
.user-menu .login-btn, .admin-menu .login-btn {
  display: none;
}
.admin-menu .manageforums-link {
  display: inline;
}

.form {
  margin-left: 20px;
}
.form dt {
  float: left;
  min-width: 120px;
  height: 20px;
}
