<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<!-- <link href="/static/default.css" rel="stylesheet" type="text/css"> -->
	<link type="text/css" href="/static/css/main.css" rel="stylesheet" />
  <link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
	<!-- <script language="javascript" src="/static/default.js" type="text/javascript"></script> -->
</head>
<body>

  <section class='header'>
    <h1><a href='/'><img src='/img/logo.png' height=75 width=245 alter='Uarat forum' /></a></h1>
    <nav class='{{ role|default:'guest' }}'>
      <div class='menu top-header-menu'>
        <a class='menu-item' href='/'>Форум</a>
        <a class='menu-item user-item' href='#'>Участники</a>
        <a class='menu-item' href='#'>Правила</a>
        <a class='menu-item' href='#'>Поиск</a>
        <a class='menu-item user-item' href='#'>Профиль</a>
        <a class='menu-item user-item' href='#'>Сообщения</a>
        <a class='menu-item user-item logout-btn' id='logout-btn' href='/logout'>Выход</a>
        <a class='menu-item login-btn' id='login-btn' href='/login'>Вход</a>
      </div>
      <div class='menu bottom-header-menu user-item'>
        <a class='menu-item' href='#'>Новые сообщения</a>
        <a class='menu-item' href='#'>Активные темы</a>
        <a class='menu-item' href='#'>Темы без ответов</a>
        <a class='menu-item' href='#'>Мои сообщения</a>
        <a class='menu-item' href='#'>Подписка</a>
        <a class='menu-item' href='#'>Все прочитано</a>
      </div>
    </nav>
    <!-- <ul id='menu' class='{{ menu_class }}'> -->
    <!--   <li class='menu-item manageforums-link'> -->
    <!--     <a href='/manageforums'>Manage forums</a> -->
    <!--   </li> -->
    <!--   <li class='menu-item'> -->
    <!--     <a class='logout-btn' href='/logout'>Log out</a> -->
    <!--     <a class='login-btn' href='/login'>Log in</a> -->
    <!--   </li> -->
    <!-- </ul> -->
  </section>

  <section class='announce'>
  </section>

  <section class='nav'>
    <div class='greeting'>Привет, <strong>{{ user.name|default:'Гость' }}</strong>.</div>
    <div class='route'>{% block nav %} {% endblock %}</div>
  </section>

  {% block content %}
    
  {% endblock %}

  <hr>
  <center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a></center>
  <br>

  <div id='dialog'></div>

  <!-- <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js'></script> -->
  <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script src='/static/js/main.js'></script>

</body>
</html>
