{% extends layout %}

{% block content %}
  <h2>Log in, please</h2>
  <form id='login-form' class='form' method='post'>
    <div class='error'>{{ error }}</div>
    <dl>
      <dt><label for='name'>Nickname or email</label></dt>
      <dd><input type='text' id='name' name='name' value='{{ name }}' /></dd>
    </dl>
    <dl>
      <dt><label for='password'>Password</label></dt>
      <dd><input type='password' id='password' name='password' /></dd>
    </dl>
    <dl>
      <dt></dt>
      <dd><input type='submit' value='Log In' /></dd>
    </dl>
  </form>
  <p>
    Don't have an account? <a id='signup-btn' href='/signup'>Signup here</a>
  </p>
{% endblock %}
