{% extends layout %}

{% block title %}
  {{ forum.title_or_url }}
{% endblock %}

{% block content %}

<section class='content'>
  <h1>{{ prevSubject|escape }} - Ответить</h1>
  <form id='post-form' method='post'>
    {% if prevTopicId %} 
      <input name="TopicId" value="{{ prevTopicId }}" type="hidden">
    {% else %}
      <h1>New topic</h1>
    {% endif %}

    {% if not prevTopicId %} 
      <label for="Subject">Subject:</label>
      <input class="{{ subject_class }}" size="60" maxlength="64" name="Subject" id="Subject" style="width: 39em;" value="{{ prevSubject|escape }}" type="edit">
    {% endif %}

    <fieldset>
      <legend>Введите ваше сообщение и нажмите отправить</legend>
      <!-- <label for="Message">Message:</label> -->
      <textarea class="{{ message_class }}" name="Message" id="Message" wrap="virtual">{{ prevMessage|escape }}</textarea>
    </fieldset>
      <input name="Ok" value="Ok" type="submit">
      <input name="Cancel" value="Cancel" type="submit">
  </form>
</section>

{% endblock %}
