{% extends 'layout.html' %}

{% block title %}
  Профиль: {{ profile.nickname }}
{% endblock %}

{% block nav %}
  &#187;&#160; <a href='/'>Всеукраинский форум любителей декоративных крыс</a>
  &#187;&#160; Профиль: {{ profile.nickname }}
{% endblock %}

{% block content %}

<section class='content'>
  <h1>Профиль: {{ profile.nickname }}</h1>
  <div id='profile'>
    <ul id='profile-nav'>
      <li>
        <a href='#essential'>Основной</a>
      </li>
      <li>
        <a href='#personal'>Персональный</a>
      </li>
      <li>
        <a href='#messaging'>Общения</a>
      </li>
      <li>
        <a href='#avatar'>Аватар</a>
      </li>
      <li>
        <a href='#signature'>Подпись</a>
      </li>
      <li>
        <a href='#privacy'>Приватность</a>
      </li>
    </ul>
    <form method='post'>
      <a class='form-link' href='#'>Создать подпись</a>
      <fieldset id='essential'>
        <legend>Основные настройки</legend>
        <p>
          Имя: <b>{{ profile.nickname }}</b>
        </p>
        <p>
          <a href='#' class='form-link'>Изменить пароль</a>
        </p>
        <p>
          Email: {{ profile.email }}. <a href='#' class='form-link'>Изменить email</a>
        </p>
        <p>
          Зарегистрирован:
        </p>
        <p>
          Последний визит:
        </p>
        <p>
          Последнее сообщение:
        </p>
        <p>
          Сообщений:
        </p>
      </fieldset>
      <fieldset id='personal'>
        <legend>Ваши персональные данные</legend>
        <p>
          <label for='username'>Настоящее имя</label>
          <input type='text' name='username' value='{{ profile.username }}' id='username' />
        </p>
        <p>
          <label for='location'>Местонахождение</label>
          <input type='text' name='location' value='{{ profile.location }}' id='location' />
        </p>
        <p>
          <label for='sex'>Пол</label>
          <input type='text' name='sex' value='' id='sex' />
        </p>
        <p>
          <label for='birthday'>Дата рождения</label>
          <input type='text' name='birthday' value='' id='birthday' />
        </p>
        <p>
          <label for='interests'>Интересы</label>
          <input type='text' name='interests' value='{{ profile.interests }}' id='interests' />
        </p>
        <p>
          <label for='about'>Обо мне</label>
          <textarea name='about' id='about' rows='8' cols='40'></textarea>
        </p>
      </fieldset>
      <fieldset id='messaging'>
        <legend>Укажите данные для общения</legend>
        <p>
          <label for='icq'>ICQ</label>
          <input type='text' name='icq' value='{{ profile.icq }}' id='icq' />
        </p>
        <p>
          <label for='skype'>Skype</label>
          <input type='text' name='skype' value='{{ profile.skype }}' id='skype' />
        </p>
      </fieldset>
      <fieldset id='avatar'>
        <legend>Настройка отображения аватара</legend>
        <p>
          Аватар - это маленькое изображение, которое будет отображаться под Вашим именем в сообщениях на форуме. Ваш текущий аватар показан справа. Для удаления или изменения аватара перейдите по ссылка ниже.
        </p>
        <p><a class='form-link' href='#'>Изменить аватар</a></p>
        <p><a class='form-link' href='#'>Удалить аватар</a></p>
        <p>
          Для того чтобы аватар был виден в ваших сообщениях, отметьте галочкой поле 'Использовать аватар'.
        </p>
        <p>
          <input type='checkbox' name='show_avatar' value='' id='show_avatar' />
          <label for='show_avatar'>Использовать аватар</label>
        </p>
      </fieldset>
      <fieldset id='signature'>
        <legend>Составьте вашу подпись</legend>
        <p>
          Подпись - это небольшая приписка, прилагаемая к вашим сообщениям. Это может быть все, что вам нравится. Например, ваша любимая цитата. В подписи можно использовать встроенные теги BBCode и/или HTML, если это разрешено администратором. Что разрешено, можно увидеть слева, при редактировании подписи.
        </p>
        <a class='form-link' href='#'>Создать подпись</a>
      </fieldset>
      <fieldset id='privacy'>
        <legend>Выберите свои личные настройки</legend>
        <p>
          Выберите, каким образом вы хотите, чтобы ваш e-mail адрес отображался на форуме, и хотите ли вы, чтобы другие пользователи имели возможность слать вам e-mail сообщения через форум или нет.
        </p>
        <p>
          <label for='do_show_email'>Показывать ваш e-mail адрес</label>
          <input type='radio' name='show_email[true]' value='' id='do_show_email' />
        </p>
        <p>
          <label for='dont_show_email'>Скрыть ваш e-mail адрес</label>
          <input type='radio' name='show_email[false]' value='' id='dont_show_email' />
        </p>
        <p>
          Включение этой опции даёт возможность форуму "запоминать" вас между визитами (имя и пароль сохраняются в куках вашего броузера). В этом случае, вам не нужно будет каждый раз вводить ваше имя и пароль при заходе на форум. Вход будет произведён автоматически. Рекомендуется.
        </p>
        <p>
          <label for='remember_me'>Запомнить имя пользователя и пароль между визитами.</label>
          <input type='checkbox' name='remember_me' value='' id='remember_me' />
        </p>
      </fieldset>
      <div class='clear'></div>
      <p><input type='submit' value='Submit' /></p>
    </form>
  </div>
</section>

{% if analytics_code %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{ analytics_code }}");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endif %}

{% endblock %}
