{% extends 'layout.html' %}

{% block content %}
  <h2>Registration</h2>
  <form id='signup' class='form' method='post'>
    {% if error %}
      <div class='error'>{{ error }}</div>
    {% endif %}
    {% for field in form %}
      <dl>
        <dt><label for='{{ field.name }}'>{{ field.label }}<em>*</em></label></dt>
        <dd>
          <input type='{{ field.type }}' name='{{ field.name }}'
              id='{{ field.name }}' value='{{ field.value }}' />
        </dd>
      </dl>
    {% endfor %}
    <dl>
      <dt></dt>
      <dd><input type='submit' value='Sign Up' /></dd>
    </dl>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src='static/registration.js'></script>
  <script type="text/javascript">
    var ERROR_MESSAGES = {{ errorMessages }}
  </script>
{% endblock %}
